@model ProjetoMVC.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Excuir</h1>

<h3>Deseja excluir o cadastro do produto?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.Descricao)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.RazaoSocial)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-light">Retornar pra lista</a>
    </form>
</div>
